<template>
  <el-container>
    <el-main>
      <todo-list></todo-list>
    </el-main>
  </el-container>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import TodoList from "./components/TodoList.vue";

@Options({
  components: {
    TodoList,
  },
})
export default class App extends Vue {}
</script>

<style>
body{
  margin: 0,

}
.el-container{
  background-color:rgb(61, 193, 211);
  color: var(--el-text-color-primary);
  text-align:center;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;

}
</style>
